@import "theme";

.footer {
  height: 20rem;
  background: $brand;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 3rem;
}

.logo {
  height: 50px;
}

.list {
  display: flex;
  flex-flow: column nowrap;
}

.link {
  color: $text-gray;
  padding-bottom: 1rem;
}
