@import "theme";

.footer {
  height: 8rem;
  background: $brand;
  padding: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.logo {
  height: 50px;
}

.title {
  font-size: 2em;
  color: white;
  padding-left: 1rem;
  font-weight: lighter;
  transform: translateY(4px);
}

.item {
  color: white;
  padding: 0 1rem;
  &:hover {
    color: $brand-lighten-3;
  }
}
