@import "theme";

.footer {
  height: 20rem;
  background: $brand;
  padding: 3rem;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.logo {
  height: 50px;
}

.list {
  display: flex;
  flex-flow: column nowrap;
}

.link {
  color: $text-gray;
  padding-bottom: 1rem;
}

.credits {
  color: $text-gray;
  position: absolute;
  bottom: 15;
  left: 50%;
  transform: translate(-50%, 0);
}
