@import 'theme';

.everest {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.title {
  font-size: 2.3em;
  text-align: center;
  font-weight: normal;
  padding-bottom: 4rem;
  color: $brand;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.image {
  display: flex;
}

.text {
  display: flex;
  padding: 3rem;
  font-size: 1.3em;
  line-height: 1.5;
  width: 400px;
}

.website {
  height: 600px;
  width: auto;
}
