@import 'theme';

.nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: calc(100vh - 60px);
  background: #eeeeee;
  overflow-y: scroll;
  border-right: 1px solid #ccc;
}

.wrapper {
  display: block;
}

.header {
  background: white;
  box-shadow: 0 3px 2px -2px #ccc;
  padding: 1rem;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.collapse {
  padding-right: 1rem;
}

.item {
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5rem;
  justify-content: space-between;
  cursor: pointer;
}
