.chat-window {
  width: calc(100vw - 300px);
  position: absolute;
  top: 0;
  right: 0;
  overflow-y: scroll;
  height: calc(100vh - 60px);
}

.message-wrapper {
  position: absolute;
  bottom: 74px;
  height: calc(100vh - 184px);
  overflow-y: scroll;
  z-index: 10;
}
