@import 'theme';

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: $brand;
  height: 60px;
  width: 100%;
}

.logo {
  color: white;
  display: inline;
  font-size: 3em;
  font-weight: lighter;
  cursor: pointer;
}

.image {
  padding-top: 3px;
  max-height: 46px;
  padding-left: 3rem;
  padding-right: 1rem;
  cursor: pointer;
}

.list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-right: 3rem;
}

.link {
  color: white;
  font-family: $font;
  font-weight: normal;
  padding: 0 1rem;
  font-size: 1.1em;
  cursor: pointer;
  &:hover {
    color: lighten($brand, 30%);
  }
}
