@import 'theme';

.military {
  min-height: 400px;
  padding-bottom: 5rem;
  background: rgba(245,245,250,1);
}

.title {
  font-size: 2.5em;
  color: $text;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.image {
  height: 300px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.text {
  color: $text;
  width: 400px;
  padding: 2rem;
  font-size: 1.3em;
  line-height: 1.5;
}
