@import 'theme';

.news {
  min-height: calc(100vh - 60px);
  width: 100%;
  background: #eeeeee;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 3rem;
}

.card {
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 600px;
  padding: 1rem;
}

.card-head {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.head-title {
  color: $text;
  font-size: 1.3em;
}

.head-options {
  color: $text-gray;
}

.left-panel {
  width: 200px;
  padding: 0 1rem;
}

.right-panel {
  width: 300px;
  padding: 0 1rem;
}

.post {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.image {
  height: 80px;
  width: 80px;
}

.post-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 1rem;
}

.post-title {
  font-size: 1.3em;
  color: $text;
  padding-bottom: 0.5rem;
}

.post-body {
  color: $text-gray;
  line-height: 1.3;
}
